/api/.env
/app/.env
/client/.env

api/.env.local
app/.env.local
/client/.env.local

api/.env.development.local
app/.env.development.local
/client/.env.development.local

api/.env.test.local
app/.env.test.local
/client/.env.test.local

/api/.env.production.local
/app/.env.production.local
/client/.env.production.local

/api/node_modules
/app/node_modules
/client/node_modules

/api/build
/app/build
/client/build

api/npm-debug.log*
app/npm-debug.log*
client/npm-debug.log*


api/yarn-debug.log*
app/yarn-debug.log*
client/yarn-debug.log*


api/yarn-error.log*
app/yarn-error.log*
client/yarn-error.log*

api/serverless
api/docker-compose.yml


app/scripts