@import "../../../../assets/css/fonts.css";

.landing-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}
.landing-main .landing-main-img-wrap {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 2px;
}
.landing-main .landing-main-img-wrap img {
    width: 100%;
    z-index: 10;
}
.landing-main .landing-main-title-wrap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.landing-main .landing-main-title-wrap p {
    font-family: Montserrat Light;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.landing-main .landing-main-help-text-wrap {
    text-align: center;
    margin-bottom: 20px;
}
.landing-main .landing-main-help-text-wrap p {
    font-family: RedRose Light;
    font-style: bold;
    font-weight: 500;
    font-size: 23px;
    color: #fff;
}
.landing-main .landing-main-btns-wrap {
    display: flex;
    flex-direction: row;
}
.landing-main .landing-main-btns-wrap a {
    text-decoration: none;
}


.landing-main .landing-main-btns-wrap .landing-main-btn {
    margin: 0 11px;
    padding: 2px 30px 2px 30px;
    min-width: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
    border-radius: 27px;
    cursor: pointer;
    text-align: center;
}
.landing-main .landing-main-btns-wrap .landing-main-btn p {
    font-family: Montserrat Bold;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: rgb(0, 0, 0);
}

.Team-title {
    flex-direction: column;
    align-items: center;
    margin-top: 225px;

}
.Team-title p {
    font-family: RedRose Light;
    font-style: bold;
    font-weight: 500;
    font-size: 23px;
    color: #fff;
}



.landing-main-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 100px;
}




.box {
    background-color: seashell;
    color:red;
    display: block;
}

.circle {
    color: royalblue;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  .circle.sm {
    width: 30px;
    height: 30px;
  }
  
  .circle.md {
    width: 60px;
    height: 60px;
  }
  
  .circle.lg {
    width: 90px;
    height: 90px;
  }

@media screen and (max-width: 560px) {
    .landing-main .landing-main-title-wrap p {
        font-size: 40px;
   }
    .landing-main .landing-main-help-text-wrap p {
        font-size: 16px;
   }
}
@media screen and (max-width: 465px) {
    .landing-main .landing-main-btns-wrap {
        flex-direction: column;
   }
    .landing-main .landing-main-btns-wrap .landing-main-btn {
        margin: 15px;
   }
}